<app-header></app-header>

<section id="main" class="clearfix">
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a href="" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end">Change Password</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <h1 class="page-title entry-title">Change Password</h1>

            <form name="event-add" id="event-add" action="#" method="post">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Current Password<span class="indicates">*</span></label>
                        <input type="password" name="" id="" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>New Password<span class="indicates">*</span></label>
                        <input type="password" name="" id="" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Reenter Password<span class="indicates">*</span></label>
                        <input type="password" name="" id="" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row ">
                        <a class="btn btn-warning" type="submit" value="Save" name="submit">Save</a>
                    <a class="btn btn-warning" type="reset" value="Save" name="submit">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- #content --> 
        
        
        <!-- #sidebar-widgets-template -->
    </div>
    <!-- .wrap -->
</section>

<app-footer></app-footer>