
/*.map_full_width{
	bottom: 0!important;
    display: table-column-group;
    float: left;
    height: 500px;
    margin: 0;
    position: fixed;
    position: absolute;
    top: 70px;
    width: 100%;
}*/