<app-header></app-header>

<section id="main" class="clearfix">
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a href="" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end">Contact Us</span>
            </div>
        </div>

        <section id="content" class="multiple large-9 small-12 columns">
            <div class="hfeed">
                <div id="post-165" class="hentry page publish post-1 odd author-admin  post ">
                    <h1 class="loop-title">Contact Us</h1>
                    <div class="loop-description">
                        <p>Looking for more information about upcoming events, gatherings, or other social news? Maybe you have your own event planned and want to get the word out. Or you know of a potential job opening that a fellow Geekmeeter could benefit from. We’re always looking for ways to make our site more useful for our users, and your input helps. Fill out the contact information below and we’ll get back to you as soon as possible.</p>
                    </div>
                    <!-- .entry-content -->
                </div>
                <!-- .hentry -->

                <!-- 728x90 ad_space -->
                <div id="templatic_text-1" class="widget templatic_text">
                    <div class="widget-wrap widget-inside m-t-20">		
                        <div class="textwidget text-center">	
                            <a href="">
                                <img src="app/assets/images/ads images/728x90.jpg">
                            </a>	
                        </div>
                    </div>
                </div>
                <div class="cont_wid_area clearfix">
                    <h3 class="widget-title">Contact Us</h3>
                    <div id="supreme_contact_widget-1" class="widget contact_us">
                        <div class="widget-wrap widget-inside">			
                            <div class="widget contact_widget" id="contact_widget">
                                <form action="" method="post" id="contact_widget_frm" name="contact_frm" class="wpcf7-form">
                                    <input type="hidden" name="contact_widget" value="1">
                                    <input type="hidden" name="request_url" value="/wordpress/wordpress/contact-us/">
                                    <div class="form_row ">
                                        <input type="text" name="your-name" id="widget_your-name" value="" class="textfield placeholder" size="40" placeholder="Name*">
                                        <span id="widget_your_name_Info" class="error"></span> </div>
                                    <div class="form_row ">
                                        <input type="text" name="your-email" id="widget_your-email" value="" class="textfield placeholder" size="40" placeholder="Email*">
                                        <span id="widget_your_emailInfo" class="error"></span> </div>
                                    <div class="form_row ">
                                        <input type="text" name="your-subject" id="widget_your-subject" value="" size="40" class="textfield placeholder" placeholder="Subject*">
                                        <span id="widget_your_subjectInfo"></span> </div>
                                    <div class="form_row clearfix">
                                        <textarea name="your-message" id="widget_your-message" cols="40" class="textarea textarea2 placeholder" rows="10" placeholder="Message*"></textarea>
                                        <span id="widget_your_messageInfo" class="error"></span> </div>
                                    <div class="clearfix">
                                        <input type="submit" value="Send" class="b_submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  CONTENT AREA END -->
        </section>
        <aside id="sidebar-contact_page_sidebar" class="sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>	
                    </div>
                </div>
            </div>

            <!-- 300x150 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x150.jpg">
                        </a>	
                    </div>
                </div>
            </div>
        </aside>
        <!-- #sidebar-widgets-template -->
    </div>
    <!-- .wrap -->
</section>

<app-footer></app-footer>