<div class="menu-secondary_wpr">     
    <div class="row">  
        <div id="nav-secondary" class="nav_bg columns">
            <div id="menu-secondary" class="menu-container clearfix">
                <nav role="navigation" class="wrap">
                    <!-- #menu-secondary-title -->
                    <div id="menu-secondary-title">
                        Menu    
                    </div>
                    <div class="menu">
                        <ul id="menu-secondary-items" class="mega">
                            <li class="current-menu-item current_page_item"><a href="">Cisco</a></li>
                            <li class=""><a href="">Databases</a></li>
                            <li class=""><a href="">Microsoft's</a></li>
                            <li class=""><a href="">Networking</a></li>
                            <li class=""><a href="">Open Source</a></li>
                            <li class=""><a href="">IT</a></li>
                            <li class=""><a href="">User Groups</a></li>
                        </ul>
                    </div>  
                </nav>
            </div>
            <!-- #menu-secondary .menu-container -->
        </div>
    </div>
</div>