<!-- </div>
</div>
</div> -->

<aside id="sidebar-subsidiary-2c" class="sidebar sidebar-2c sidebar-subsidiary clearfix large-3 small-12 columns">
    <div class="sidebar-wrap masonry" style="position: relative; height: 76px;">
        <div id="directory_search_location-2" class="widget search_key masonry-brick" style="position: absolute; top: 0px; left: 0px;">
            <div class="widget-wrap widget-inside">
                <div class="search_nearby_widget what_fld_search">
                    <form name="searchform_11879" method="get" class="searchform_11879 allinone" id="searchform" action="" style="position:relative;">
                        <input type="hidden" name="post_type" value="event">
                        <input type="hidden" name="mkey[]" value="cats">
                        <input type="hidden" name="mkey[]" value="tags">
                        <input type="hidden" name="mkey[]" value="category">
                        <input type="hidden" name="mkey[]" value="post_excerpt">
                        <input type="hidden" name="mkey[]" value="address">

                        <input type="hidden" name="custom_cat" value="">
                        <input type="text" value="" name="s" id="search_near-550" class="searchpost placeholder" placeholder="Looking For ..." size="100">

                        <input type="hidden" name="t" value="cbe8166a06">
                        <input type="hidden" name="t" value="cbe8166a06">
                        <input type="hidden" name="relation" class="sgo" value="OR">
                        <input type="submit" class="sgo" value="Search">
                        <input type="hidden" name="search_in_city" class="sgo" value="1">
                        <!--<ul id="search-result" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" style="display:none;"></ul>-->
                    </form>
                </div>
            </div>
        </div>	  
    </div>
    <!-- .sidebar-wrap -->
</aside>

<!-- Footer Start-->
<div id="footer" class="clearfix">
    <section class="footer_top clearfix">
        <div class="footer-wrap clearfix row">
            <div class="columns">
                <div class="footer_widget_wrap">
                    <div id="supreme_subscriber_widget-1" class="widget subscribe">
                        <div class="widget-wrap widget-inside">					
                            <p> Subscribe to get latest news from site </p>
                            <span class="newsletter_msg" id="newsletter_msg"> </span>
                            <div class="subscriber_container">
                                <form action="" method="post" target="popupwindow">
                                    <input type="text" id="newsletter_name" name="name" value="" class="field placeholder" placeholder="Your Name">
                                    <input type="text" id="newsletter_email" name="email" value="" class="field placeholder" placeholder="Your Email Address">
                                    <input type="hidden" value="templatic" name="uri">
                                    <input type="hidden" value="wamasoftware" name="title">
                                    <input type="hidden" name="loc" value="en_US">
                                    <input class="replace" type="submit" name="submit" value="Subscribe">
                                </form>
                            </div>
                            <!--End mc_embed_signup-->
                        </div>
                    </div>
                    <div id="hybrid-categories-2" class="widget categories">
                        <div class="widget-wrap widget-inside">
                            <h3 class="widget-title">Blog Categories</h3>
                            <ul class="xoxo categories">
                                <li class="cat-item cat-item-7"><a href="#">Eventum</a></li>
                                <li class="cat-item cat-item-6"><a href="#">News</a></li>
                                <li class="cat-item cat-item-1"><a href="#">Uncategorized</a></li>
                            </ul>
                            <!-- .xoxo .categories -->
                        </div>
                    </div>
                    <div id="hybrid-archives-1" class="widget archives">
                        <div class="widget-wrap widget-inside">
                            <h3 class="widget-title">Event Categories</h3>
                            <li><a href="#">Networking</a></li>
                            <li><a href="#">Open Source</a></li>
                            <li><a href="#">User Groups</a></li>
                            <li><a href="#">Databases</a></li>
                        </div>
                    </div>
                    <div id="hybrid-pages-1" class="widget pages">
                        <div class="widget-wrap widget-inside">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul class="xoxo pages">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Sponsors</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="meta-1" class="widget widget_meta">
                        <div class="social_media widget-wrap widget-inside">
                            <h3 class="widget-title">Social</h3>			
                            <ul class="social_media_list">
                                <li> <a href="http://facebook.com/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a> 
                                </li>			
                            </ul>
                        </div>
                    </div>				
                </div>
            </div>
        </div>
    </section>
    <section class="footer_bottom clearfix">
        <div class="footer-wrap clearfix row">
            <div class="columns">
                <div class="footer-content "> 
                    <p class="copyright">© 2016 All rights reserved.</p> 
                    <p class="credit"> <a href="#" alt="" title=""></a></p> 
                </div>
                <!-- .footer-content -->
            </div>
        </div>
        <!-- .wrap -->
    </section>
</div>


<a class="exit-off-canvas"></a>
<a class="exit-selection"></a>


<div id="tmpl_reg_login_container" class="reveal-modal tmpl_login_frm_data" data-reveal="">
    <a href="javascript:;" class="modal_close auto-close"></a>

    <!-- Login Form -->
    <div id="tmpl_login_frm"> 
        <div class="login_form_l">
            <h3>Sign In</h3>			
            <div class="login_form_box">
                <form name="popup_login"  #form="ngForm" (ngSubmit)="userSignIn(form.value)">
                    <input type="hidden" name="action" value="login">                         
                    <div class="form_row clearfix">
                        <label>Email <span class="indicates">*</span> </label>
                        <input type="text" name="username" id="user_login" size="20" value="" class="textfield" ngModel>
                        <span id="user_loginInfo"></span> 
                    </div>

                    <div class="form_row clearfix">
                        <label> Password <span class="indicates">*</span> </label>
                        <input type="password" name="password" id="user_pass" value="" class="textfield" size="20" ngModel>
                        <span id="user_passInfo"></span> 
                    </div>
                    <input type="hidden" name="redirect_to" value="#">
                    <input type="hidden" name="testcookie" value="1">
                    <div class="form_row rember clearfix">
                        <label>
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="fl">
                            Remember me on this computer 
                        </label>	
                        <!-- html to show social login -->
                        <a onclick="showhide_forgetpw('popup_login');" href="javascript:void(0)" class="lw_fpw_lnk">Forgot your password?</a> 
                    </div>

                    <div class="form_row ">
                        <button id="login-submit" class="btn btn-info" type="submit" data-dismiss="tmpl_login_frm"> Sign In</button>
                        <p class="forgot_link">New User? <a href="javascript:void(0)" class="logreg-link" onclick="tmpl_registretion_frm();" id="tmpl-reg-link">Sign Up</a></p>
                    </div> 
                    
                </form>


                <div class="forgotpassword" id="lostpassword_form" style="display:none;">
                    <h3>Forgot password</h3>
                    <form name="popup_login_forgot_pass" id="popup_login_forgot_pass" action="" method="post">
                        <input type="hidden" name="action" value="lostpassword">
                        <div class="form_row clearfix">
                            <label> Email: </label>
                            <input type="text" name="user_login" id="user_login_email" value="" size="20" class="textfield">
                            <span id="forget_user_email_error" class="message_error2"></span>
                        </div>
                        <input type="hidden" name="pwdredirect_to" value="">
                        <a class="btn btn-warning " type="submit" value="Save" name="submit">Get New Password</a>
                    </form>
                </div>
            </div>
            <!-- Enable social media(gigya plugin) if activated-->         
            <!--End of plugin code-->

            <script type="text/javascript" async="">
                function showhide_forgetpw(form_id)
                {

                    jQuery(document).on('click', 'form#' + form_id + ' .lw_fpw_lnk', function (e) {
                        jQuery(this).closest('form#' + form_id).next().show();
                        e.preventDefault();
                        return false;
                    });
                }
            </script>

            <!-- <script type="text/javascript" async="">
               jQuery(document).ready(function(){
                   
                 jQuery(document).on('click','.auto-close',function(){
                     
                     
                     alert("ASd");
                 }) ;
                   
               });
              
           </script> -->
        </div>		
    </div>

    <!-- Registration form -->
    <div id="tmpl_sign_up" style="display:none;">  
        <div id="sign_up">  
            <div class="registration_form_box">
                <h3>Sign Up </h3>
                <ul class="social_login social_media_login">
                    <li>Sign in with</li>
                    <li><a rel="nofollow" class="facebook" href=""> Facebook</a></li>
                    <li><a rel="nofollow" class="linkedin" href=""> LinkedIn</a></li>
                </ul>
                <p class="login_sep">OR</p>
                <form name="popup_register" id="popup_register" enctype="multipart/form-data" #regForm="ngForm" (ngSubmit)="userSignUp(regForm.value)">

                    <div class="form_row clearfix">
                        <label>Full Name <span class="indicates">*</span> </label>
                        <input name="username" type="text" id="user_name" class="textfield" value="" ngModel>
                        <span id="user_name_error"></span>
                    </div>
                    <div class="form_row clearfix">
                        <label>Email <span class="indicates">*</span> </label>
                        <input name="email" type="email" id="user_email" class="textfield" value="" ngModel>
                        <span id="user_email_error"></span>
                    </div>
                    <div class="form_row clearfix">
                        <label> Password <span class="indicates">*</span> </label>
                        <input type="password" name="password" id="user_pass" class="textfield" value="" ngModel>
                        <span id="user_passInfo"></span> 
                    </div>   
                    <div class="form_row clearfix">
                        <label> Confirm Password <span class="indicates">*</span> </label>
                        <input type="password" name="password_confirmation" id="user_cpass" class="textfield" value="" ngModel>
                        <span id="user_passInfo"></span> 
                    </div>  
                    <div class="form_row clearfix">
                        <label> Captcha <span class="indicates">*</span> </label>
                        <input type="password" name="cpwd" id="user_cpass" class="textfield" value="">
                    </div>  
                    <div class="form_row rember clearfix">
                        <label>
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="fl">
                            Accept<a href="" [routerLink]="['/term-condition']"> Terms & Condition</a>
                        </label>
                    </div>
                    <!-- <div id="popup_register_register_cap"></div> -->
                    <button class="btn btn-warning" type="submit">Sign Up</button>
                    <button class="btn btn-warning" type="reset" value="Save" name="submit">Cancel</button>
                </form>
            </div>
        </div>
        <p>Already have an account? <a href="javascript:void(0)" class="widgets-link" onclick="tmpl_login_frm();" id="tmpl-back-login">Sign in</a></p>
    </div>

</div>

<!--Scripts start -->
<!-- </body> -->
<!-- </html> -->