<app-header></app-header>

<section id="main" class="clearfix">
    <div class="wrap row">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a href="#" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> <span>Organization Add</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Organization Add</h3>
            </div>

            <form name="event-add" id="event-add" action="#" method="post">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Business Logo<span class="indicates">*</span></label>
                        <div class="col-sm-10 -m-rl-15">
                            <input type="file" name="" value="" class="form-control textfield"> 
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-warning logo-submit" type="submit" value="Upload" name="submit">
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>Name<span class="indicates">*</span></label>
                        <input type="text" name="" id="" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>About the Organization<span class="indicates">*</span></label>
                        <textarea class="ckeditor form-control" name="editor1" rows="6"></textarea>
                    </div>
                    <div class="form_row clearfix">
                        <label>Location<span class="indicates">*</span></label>
                        <input type="text" name="" value="" class="form-control textfield">
                    </div>
                    <div class="form_row clearfix">
                        <label>Email<span class="indicates">*</span></label>
                        <input type="email" name="" value="" class="form-control textfield">
                    </div>
                    <div class="form_row clearfix">
                        <label>Website<span class="indicates">*</span></label>
                        <input type="url" name="" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Contact Info<span class="indicates">*</span></label>
                        <input type="tel" name="" value="" class="form-control textfield"> 
                    </div>

                    <div class="form_row ">
                        <a class="btn btn-warning" type="submit" value="Save" name="submit">Save</a>
                        <a class="btn btn-warning" type="submit" value="Save" name="submit">Cancel</a>	
                    </div>
                </div>
            </form>
        </div>
        <!-- #content --> 

        <!--single post type sidebar -->
        <div id="sidebar-primary" class="sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>	
                    </div>
                </div>
            </div>

            <!-- 300x250 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x250.jpg">
                        </a>	
                    </div>
                </div>
            </div>
        </div>
        <!--end single post type sidebar --> 
        <!-- end  content part-->
    </div>
    <!-- .wrap -->
</section>

<app-footer></app-footer>