<app-header></app-header>

<section id="main" class="clearfix">
    <div class="wrap row">
        <div id="content" class="page-id-43 contentarea large-12 small-12 columns">
            <header class="page-header extra-search-criteria-title"><h3>Sponsors</h3></header>
            <div class="diamond-sponsor">
                <div class="col-sm-12">
                    <h4>Diamond Sponsors</h4>
                    <hr>
                </div>
                <div class="sponsor-images">
                    <ul>
                        <li>
                            <img src="app/assets/images/company-logo/1stdibs-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/APS-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/California-home-design-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/PSPF-new-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/atomic-ranch-200x150.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="glod-sponsor">
                <div class="col-sm-12">
                    <h4>Gold Sponsors</h4>
                    <hr>
                </div>
                <div class="sponsor-images">
                    <ul>
                        <li>
                            <img src="app/assets/images/company-logo/avalon-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/avir-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/beazer-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/bold-summit-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/cafe-europa-200x150.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="silver-sponsor">
                <div class="col-sm-12">
                    <h4>Silver Sponsors</h4>
                    <hr>
                </div>
                <div class="sponsor-images">
                    <ul>
                        <li>
                            <img src="app/assets/images/company-logo/carlhansen-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/christopher-kennedy-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/city-of-indian-wells-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/city-of-palm-desert-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/city-of-palm-springs-grey-200x150.png">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="partners">
                <div class="col-sm-12">
                    <h4>Partners</h4>
                    <hr>
                </div>
                <div class="sponsor-images">
                    <ul>
                        <li>
                            <img src="app/assets/images/company-logo/city-of-rancho-mirage-200x150.png">
                        </li>
                        <li>
                            <img src="app/assets/images/company-logo/header_main_logo-450.png">
                        </li>
                    </ul>
                </div>
            </div>
        </div>           
    </div>
</section>

<app-footer></app-footer>